body {
  font-family: Poppins;
  font-weight: 600;
}

h1 {
  display: block;
  color: #475053;
  font-size: 28px;
  line-height: 30px;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 20px;
}

ul {
  margin-top: 5px;
  padding: 0;
}
li {
  list-style: none;
  color: #475053;
  margin: 0;
  text-transform: capitalize;
  padding: 0;
}
.weather-app-page {
  margin: 40px auto;
  max-width: 500px;
}
.weather-app {
  margin: 40px auto;
  margin-bottom: 5px;
  max-width: 500px;
  padding: 30px;
  border: 1px solid #acdcee;
  border-radius: 10px;
}
.sun {
  display: inline;
  max-width: 70px;
}
.temperature-indicator strong {
  font-size: 26px;
}
.temperature-indicator span {
  position: relative;
}
hr {
  color: #acdcee;
}
.weather-forecast {
  margin-top: 10px;
  text-align: center;
}
.weather-forecast-days {
  font-size: 16px;
  color: #475053;
}
.weather-forecast-temp {
  font-size: 14px;
  color: #475053;
}
.min-temp {
  opacity: 0.9;
}
